@import "./partials/_setup.scss";
@import "./partials/_utils.scss";

.wrapper {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: $fHeaders;
    text-transform: uppercase;
}

body {
    background: rgb(131, 131, 131);
    font-family: $fBody;
    line-height: 1.5;
    font-size: 2rem;
}

h1 {
    font-size: 8rem;
    color: $light;
}

h2 {
    font-weight: 400;
    color: $light;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.section {
    padding: 50px 0;
    position: relative;
}

.offsetAnchor {
    position: absolute;
    top: -50px;
}

.offsetAnchor--about {
    top: -60px;
}



// HEADER

.header {
    position: relative;
    z-index: 30;
}

.navBar {
    position: fixed;
    width: 100%;
}

.header__navCheckbox {
    display: none;
}

.header__hamburger {
    color: $light;
    padding: 10px;
    font-size: 3rem;
    transition: all 0.2s;
    cursor: pointer;
    display: inline-block;
    display: none;
}

.header__hamburger:hover {
    color: $yellow;
    transform: scale(1.05);
}

.navBar__background {
    position: fixed;
    z-index: 20;
    background: rgb(129, 129, 129);
    width: 100%;
    height: 60px;
}

.navBar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 40;
}

.logoName {
    display: flex;
    align-items: center;
    min-width: 270px;
}

.logoName__name {
    font-size: 3rem;
    margin-left: 10px;
}

.logoName__logo {
    height: 40px;
    width: 40px;
    margin: 10px 0;

}

.navName {
    font-weight: 800;
}

.nav__listOfLinks {
    display: flex;
}

.nav__a {
    color: $light;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
}

.nav__li {
    margin-left: 15px;
}


.nav__a,
.nav__li{

    transition: all 0.2s;
}


.nav__a:hover,
.nav__li:hover {
    color: $yellow;
    transform: scale(1.05);
}


.hero {
    height: 100vh;
    background: linear-gradient(rgba(20, 20, 20, 0.2),rgba(20, 20, 20, 0.5)), url(../../public/assets/hero_bw_bg2.jpg) 30% 50%;
    background-size: cover;
}

.hero__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero__inner {
    height: calc(100vh - 125px);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 70%;
}

.hero__header,
.hero__subheader {
    width: 100%;
    text-align: center;
}

.hero__downChevronDiv {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

.hero__downChevronLink {
    color: $yellow;
    font-size: 3rem;
    padding: 10px;
    animation: pulse 1s infinite alternate;
    transition: all 0.2s;
    width: 80%;
    margin: 0 auto;
}

.hero__downChevronLink:focus,
.hero__downChevronLink:hover {
    outline: none;
    color: $light;
    transform: scale(1.2);
    animation: none;
}

.hero__subheader {
    font-size: 5rem;
}

.hero__downChevron {
    color: $light;
    font-size: 4rem;
}

// MAIN

.skills,
.contact {
    background: rgb(70, 70, 70);
}

.about,
.projects {
    background: $light;
}

.section__header {
    font-size: 5rem;
    padding-bottom: 75px;
}

// ABOUT

.section__header--about {
    padding-bottom: 25px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__writeUpDiv {
    flex-basis: 70%;
    flex-grow: 1;
}

.about__writeUp {
    padding-bottom: 25px;
}

.about__bigLogoDiv {
    width: 260px;
    margin-right: 50px;
}

// SKILLS

.section__header--skills {
    color: $light;
}

.skills__listOfSkills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: end;
}

.skill__skillLi {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.skills__skill path {
    fill: $yellow;
}

.skills__skill-firebase path .path1 {
    fill:red;
}

.skills__skill:hover path{
    fill: darken($yellow, 3);
}

.skills__skill {
    width: 50px;
}

.skills__skillName {
    color: $light;
}

// PROJECTS

.projects {
    background: $light;
}

.section__header--projects {
    padding-bottom: 25px;
}

.projects__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0;
    flex-wrap: wrap;
}

.projects__keyFeaturesList {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.projects__keyFeature {
    margin-right: 10px;
    padding: 2px 10px;
    background: white;
    border: 1px solid $dark;
    margin-bottom: 10px;
}

.projects__links {
    display: flex;
}

.projects__imgDiv {
    width: 40%;
}

.projects__projectInfo {
    width: 55%;
}

.projects__projectTitle {
    margin-bottom: 20px;
}

.projects__description {
    margin-bottom: 20px;
}

.projects__links {
    display: flex;
    flex-wrap: wrap;
}

.projects__view {
    border: 1px solid $dark;
    padding: 10px 15px;
    background: white;
    background: $yellow;
    color: $dark;
    transition: all 0.2s;
    margin-right: 30px;
    margin-bottom: 20px;
}

.projects__view:hover {
    background: white;
}

.projects__listOfProjects .projects__projectLi:nth-child(2n+0) {
    text-align: right;
    background: white;

    & .projects__keyFeature {
        background: $light;
    }

    & .projects__imgDiv {
        order: 1;
    }

    & .projects__keyFeaturesList {
        justify-content: flex-end;
    }

    & .projects__keyFeature {
        margin-right: 0;
        margin-left: 10px;
    }

    & .projects__links {
        justify-content: flex-end;
    }

    & .projects__view {
        margin-right: 0;
        margin-left: 30px;

        &:hover {
            background: $yellow;
            background: $light;
        }
    }
}

// CONTACT

.contact {
    // no granim
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(../../public/assets/toronto_bw.jpg) 50% 20%;
    // granim
    // background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../../public/assets/toronto_bw.jpg) 50% 20%;
    background-size: cover;
    position: relative;
    // padding: 50px 0 150px 0;
    min-height: 100vh;
}

.torontoBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
}

.contact__wrapper {
    position: relative;
    z-index: 10;
}

.section__header--contact {
    color: $light;
}

.contact__inner {
    display: flex;
}

.contact__options {
    width: 100%;
}

.contact__contactOption,
.contact__link {
    color: $light;
    transition: all 0.2s;
    font-size: 2.5rem;
}

.contact__contactOption {
    position: relative;
    margin-left: 60px;
    margin-bottom: 10px;
    display: block;
}

.contact__contactOption--location,
.contact__link {
    display: block;
    padding: 10px;
}

.contact__contactOption::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    left: -60px;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
}

.contact__contactOption--location::before {
    content: "\f3c5";
}

.contact__contactOption--email::before {
    content: "\f0e0";
}

.contact__contactOption--phone::before {
    content: "\f095";
}

.contact__contactOption--linkedIn::before {
    content: "\f0e1";
    font-family: "Font Awesome 5 Brands";
}

.contact__contactOption--gitHub::before {
    content: "\f09b";
    font-family: "Font Awesome 5 Brands";
}

.contact__contactOption--twitter::before {
    content: "\f099";
    font-family: "Font Awesome 5 Brands";
}

.contact__link:hover {
    color: $yellow;
}

.contact__label {
    color: $light;
}

.contact__subject,
.contact__body {
    width: 100%;
    margin-bottom: 40px;
    padding: 10px 20px;
    border: none;
    background: rgba($light, 0.8);
}

.contact__body {
    resize: none;
}

.contact__label {
    color: $light;
    padding-bottom: 5px;
    display: block;
}

.contact__send {
    min-width: 105px;
    width: 25%;
    border: none;
    padding: 10px 25px;
    text-align: center;
    background: white;
    color: #141414;
    transition: all 0.2s;
}
.contact__contactOption:hover:not(.contact__contactOption--location),
.contact__send:hover:not(.contact__contactOption--location) {
    color: $yellow;
    transform: scale(1.03);
}

// BEN'S BAGELS COHORT 19

.hide {
    display: none;
}
.show {
    display: block;
}
@keyframes falling-bagels {
            0% {
                top: -500px;
            }
            10%, 30%, 50%, 70%, 90% {
                margin-left: 10px;
            }
            20%, 40%, 60%, 80% {
                margin-left: 100px;
            }
            100% {
                top: 100%;
            }
        }
.bagels {
        position: absolute;
        animation-name: falling-bagels;
        animation-duration: 5s;
        /*animation-delay: 1s;*/
        animation-timing-function: ease-in-out;
        top: -500px;
        animation-iteration-count: 1;
        z-index: 100;
        /*animation-direction: */
}
.bagels1{
    left: 11%;
    animation-delay: 3s;
}
.bagels2 {
    left: 25%;
    animation-delay: 5s;
    animation-duration: 10s;
}
.bagels3 {
    left: 33%;
    animation-delay: 1.5s;
}
.bagels4{
    left: 79%;
    animation-delay: 4s;
}
.bagels5 {
    left: 62%;
    animation-delay: .8s;
}

///////////////////
///////////////////
// MEDIA QUERIES //
///////////////////
///////////////////

//////////////////
// START 1000px //
//////////////////
@media (max-width: 1000px) {
    .header__hamburger {
        display: inline-block;
    }

    .navBar {

        z-index: 50;
    }

    .nav__listOfLinks {
        position: absolute;
        flex-wrap: wrap;
        top: 59px;
        text-align: right;
        background: rgb(129, 129, 129);
        width: 100vw;
        flex-direction: column;
        transition: all 0.3s;
        right: calc(-105vw);
    }
    
    .header__navCheckbox:checked ~ .nav__listOfLinks {
        right: -5vw;
    }
    
    .nav__li {
        padding-right: 5vw;
    }

    .nav__a {
        width: 100%;
        margin: 10px 0;
    }

    .nav__li,
    .nav__a {
        font-size: 3rem;
        display: flex;
        justify-content: flex-end;
    }

    .nav__a:hover,
    .nav__li:hover {
        color: $yellow;
        transform: scale(1.00);
    }
}
//////////////////
//  END 1000px  //
//////////////////

//////////////////
// START 800px //
//////////////////

@media (max-width: 800px) {
    // ABOUT

    .about__content {
        flex-wrap: wrap;
    }

    .about__writeUpDiv {
        order: 1;
        flex-basis: 100%;
    }

    .about__bigLogoDiv {
        width: 100%;
        text-align: center;
        margin-right:0;
        margin-bottom: 50px;
    }

    .about__bigLogo {
        width: 50%;
    }

    // PROJECTS

    .projects__listOfProjects .projects__projectLi:nth-child(2n+0) {
        text-align: left;

        & .projects__imgDiv {
            order: 0;
        }

        & .projects__keyFeaturesList {
            justify-content: flex-start;
        }

        & .projects__keyFeature {
            margin-right: 10px;
            margin-left: 0;
        }

        & .projects__links {
            justify-content: flex-start;
        }

        & .projects__view {
            margin-right: 30px;
            margin-left: 0;
        }
    }

    .projects__imgDiv {
        width: 100%;
        margin-bottom: 50px;
    }

    .projects__projectInfo {
        width: 100%;
    }
}

//////////////////
//  END 800px  //
//////////////////

//////////////////
// START 675px //
//////////////////
@media (max-width: 675px) {
    .hero {
        height: 100vh;
        background: linear-gradient(rgba(20, 20, 20, 0.2),rgba(20, 20, 20, 0.6)), url(../../public/assets/hero_bw_bg2.jpg) 20% 50%;
        background-size: cover;
    }
}
//////////////////
//  END 675px  //
//////////////////


//////////////////
// START 600px //
//////////////////
@media (max-width: 600px) {
    .hero__header {
        font-size: 7rem;
    }

    .hero__subheader {
        font-size: 3.5rem;
    }

    .hero__inner {
        width: 100%;
        align-content: flex-end;
    }

    .hero__header {
        font-size: 6rem;
    }

    .hero__subheader {
        font-size: 4rem;
    }
}
//////////////////
//  END 600px  //
//////////////////

//////////////////
// START 500px //
//////////////////
@media (max-width: 500px) {

    .skills__listOfSkills {
        // display: grid;
        grid-template-columns: repeat(2, 1fr);
        // justify-items: center;
        // align-items: end;
    }


}
//////////////////
//  END 500px  //
//////////////////

//////////////////
// START 480px //
//////////////////
@media (max-width: 480px) {
    .hero__header {
        font-size: 5rem;
    }

    .hero__subheader {
        font-size: 3rem;
    }

}
//////////////////
//  END 480px  //
//////////////////

//////////////////
// START 380px  //
//////////////////
@media (max-width: 380px) {

    .logoName {
        min-width: 220px;
    }

    .logoName__name {
        font-size: 2.5rem;
    }
    
    .hero__header {
        font-size: 4rem;
    }

}
//////////////////
//  END 380px   //
//////////////////