@import "./partials/_setup.scss";
@import "./partials/_utils.scss";

.wrapper {
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-family: $fHeaders;
    text-transform: uppercase;
}

body {
    background: rgb(131, 131, 131);
    font-family: $fBody;
    line-height: 1.5;
    font-size: 2rem;
}

h1 {
    font-size: 8rem;
    color: $light;
}

h2 {
    font-weight: 400;
    color: $light;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.section {
    padding: 50px 0;
    position: relative;
}

.offsetAnchor {
    position: absolute;
    top: -60px;
}



// HEADER

.header {
    position: relative;
    z-index: 30;
}

.navBar {
    position: fixed;
    width: 100%;
}

.navBar__background {
    position: fixed;
    z-index: 20;
    background: rgb(129, 129, 129);
    width: 100%;
    height: 60px;
}

.navBar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 40;
}

.logoName {
    display: flex;
    align-items: center;
}

.logoName__name {
    font-size: 3rem;
    margin-left: 10px;
}

.logoName__logo {
    height: 40px;
    width: 40px;
    margin: 10px 0;

}

.navName {
    font-weight: 800;
}

.nav__listOfLinks {
    display: flex;
}

.nav__a {
    color: $light;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 5px 0 5px 5px;
    margin-left: 15px;
}


.hero {
    height: 100vh;
    background: linear-gradient(rgba(20, 20, 20, 0.2),rgba(20, 20, 20, 0.5)), url(../../public/assets/hero_bw_bg2.jpg) 30% 50%;
    background-size: cover;
}

.hero__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero__inner {
    height: calc(100vh - 125px);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 70%;
}

.hero__header,
.hero__subheader {
    width: 100%;
    text-align: center;
}

.hero__downChevronDiv {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

.hero__downChevronLink {
    color: $light;
    font-size: 3rem;
    padding: 10px;
    animation: pulse 1s infinite alternate;
    transition: all 0.2s;
    width: 80%;
    margin: 0 auto;
}

.hero__downChevronLink:focus,
.hero__downChevronLink:hover {
    outline: none;
    color: $yellow;
    transform: scale(1.2);
    animation: none;
}

.hero__subheader {
    font-size: 5rem;
}

.hero__downChevron {
    color: $light;
    font-size: 4rem;
}

// MAIN

.skills,
.contact {
    background: rgb(70, 70, 70);
}

.about,
.projects {
    background: $light;
}

.section__header {
    font-size: 5rem;
    padding-bottom: 75px;
}

// ABOUT

.section__header--about {
    padding-bottom: 25px;
}

.about__content {
    display: flex;
    justify-content: space-between;
}

.about__writeUpDiv {
    flex-basis: 70%;
}

.about__writeUp {
    padding-bottom: 25px;
}

.about__bigLogoDiv {
    width: 260px;
    margin-left: 50px;
}

// SKILLS

.section__header--skills {
    color: $light;
}

.skills__listOfSkills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: end;
}

.skill__skillLi {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.skills__skill path {
    fill: $yellow;
}

.skills__skill-firebase path .path1 {
    fill:red;
}

.skills__skill:hover path{
    fill: darken($yellow, 3);
}

.skills__skill {
    width: 50px;
}

.skills__skillName {
    color: $light;
}

// PROJECTS

.projects {
    background: $light;
}

.section__header--projects {
    padding-bottom: 25px;
}

.projects__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0;
}

.projects__links {
    display: flex;
}

.projects__imgDiv {
    width: 40%;
}

.projects__projectInfo {
    width: 55%;
}

.projects__projectTitle {
    margin-bottom: 20px;
}

.projects__description {
    margin-bottom: 20px;
}

.projects__links {
    display: flex;
}

.projects__view {
    border: 1px solid $dark;
    padding: 10px 15px;
    background: white;
    color: $dark;
    transition: all 0.2s;
}

.projects__view:hover {
    background: $yellow;
}

.projects__view--onGitHub {
    margin-left: 30px;
}

.projects__listOfProjects li:nth-child(2n+0) {
    text-align: right;
    background: white;

    & .projects__links {
        float: right;
    }

    & .projects__view {
        background: $light;

        &:hover {
            background: $yellow;
        }
    }
}

// CONTACT

.contact {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../public/assets/toronto_bw.jpg) 50% 20%;
    background-size: cover;
    position: relative;
}

.torontoBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
}

.contact__wrapper {
    position: relative;
    z-index: 10;
}

.section__header--contact {
    color: $light;
}

.contact__inner {
    display: flex;
}

.contact__contactOption,
.contact__link {
    color: $light;
    transition: all 0.2s;
    font-size: 2.5rem;
}

.contact__contactOption {
    position: relative;
}

.contact__contactOption::before {
    content: "$";
    position: absolute;
}

.contact__link:hover {
    color: $yellow;
}

.contact__options {
    width: 30%;
}

.contact__form {
    width: 70%;
}

.contact__label {
    color: $light;
}

.contact__subject,
.contact__body {
    width: 100%;
    margin-bottom: 40px;
    padding: 10px 20px;
    border: none;
    background: rgba($light, 0.8);
}

.contact__body {
    resize: none;
}

.contact__input {
    position: relative;
}

.contact__label {
    position: absolute;
    color: $dark;
    top: 10px;
    left: 20px;
}

.contact__send {
    border: 1px solid #141414;
    padding: 10px 25px;
    background: white;
    color: #141414;
    transition: all 0.2s;
}

.contact__send:hover {
    background: $yellow;
}